* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Hanken Grotesk", Arial, sans-serif;
    background-color: #0B2434;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div#root {
    background-color: #262626;
    color: #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding:20px;
    height: 100%;
    max-height: 800px;
    max-width: 600px;
    border-radius: 10px;
}

.title-container {
    text-align: center;
    margin: 5px;
}

.title-head {
    color: #F9F4DA;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.title-para {
    font-size: 0.875rem;
    max-width: 500px;
    color: #8E8E8E;
}

section.status-container {
    width: 80%;
    height: 10vh;
    color: #F9F4DA;
    margin-block: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.status-head {
    font-size: 1.25rem;
    margin: 5px;
}

.chips-container {
    margin-block: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    max-width: 400px;
}

span.chip {
    border-radius: 3px;
    padding: 5px;
}

section.word-container {
    margin-block: 25px;
    display: flex;
    justify-content: center;
    gap: 3px;
}

span.word-char {
    height: 40px;
    width: 40px;
    background-color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    border-bottom: 1px solid #F9F4DA;
}

section.keys-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    max-width: 450px;
    margin-bottom: 36px;
}

button.keys {
    height: 35px;
    width: 35px;
    background-color: #FCBA29;
    border: 1px solid #D7D7D7;
    border-radius: 3px;
    cursor: pointer;
}

button.keys.correct {
    background-color: #10A95B;
}

button.keys.wrong {
    background-color: #EC5D49;
}

button.new-game {
    background-color: #11B5E5;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    width: 150px;
    height: 40px;
    padding: 6px 12px;
    display: block;
    margin-inline: auto;
    cursor: pointer;
}